Flow_Sensores_H2O.json
[
    {
        "id": "1fa46118f4f122b4",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "3 botones 2 led 1 DHT11"
    },
    {
        "id": "6acb75e72c90ec23",
        "type": "mqtt in",
        "z": "1fa46118f4f122b4",
        "name": "Temperatura",
        "topic": "CodigoIoT/SIC/G5/H2O/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "cd19ad63313fa054",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "ff582e6d9ddfe2ff",
                "d62dfc06d65dc8ec"
            ]
        ],
        "outputLabels": [
            "Temperatura"
        ]
    },
    {
        "id": "a9bf1a724e89b2e3",
        "type": "ui_switch",
        "z": "1fa46118f4f122b4",
        "name": "",
        "label": "Activar valvula Agua Limpia",
        "tooltip": "",
        "group": "f8be81c57e27c5c1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "025206877dd605a7"
            ]
        ]
    },
    {
        "id": "33f9f28a2a006091",
        "type": "mqtt out",
        "z": "1fa46118f4f122b4",
        "name": "",
        "topic": "CodigoIoT/SIC/G5/H2O/valSolidos",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd19ad63313fa054",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "865ba129bdd9b3db",
        "type": "ui_switch",
        "z": "1fa46118f4f122b4",
        "name": "",
        "label": "Activar Valvula de Solidos",
        "tooltip": "",
        "group": "f8be81c57e27c5c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "33f9f28a2a006091"
            ]
        ]
    },
    {
        "id": "b670df7dc2a3e4e6",
        "type": "ui_switch",
        "z": "1fa46118f4f122b4",
        "name": "",
        "label": "Manual/Automático",
        "tooltip": "",
        "group": "f8be81c57e27c5c1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "72d7cb55943ba7aa"
            ]
        ]
    },
    {
        "id": "025206877dd605a7",
        "type": "mqtt out",
        "z": "1fa46118f4f122b4",
        "name": "",
        "topic": "CodigoIoT/SIC/G5/H2O/valLimpia",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd19ad63313fa054",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "72d7cb55943ba7aa",
        "type": "mqtt out",
        "z": "1fa46118f4f122b4",
        "name": "",
        "topic": "CodigoIoT/SIC/G5/H2O/manuAuto",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd19ad63313fa054",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "091dc660de23aed9",
        "type": "mqtt in",
        "z": "1fa46118f4f122b4",
        "name": "Dureza",
        "topic": "CodigoIoT/SIC/G5/H2O/ppm",
        "qos": "2",
        "datatype": "auto",
        "broker": "cd19ad63313fa054",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d166219534efb721",
                "0d074b535e37b136"
            ]
        ]
    },
    {
        "id": "d166219534efb721",
        "type": "ui_gauge",
        "z": "1fa46118f4f122b4",
        "name": "",
        "group": "f8be81c57e27c5c1",
        "order": 5,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Dureza",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#729fcf",
            "#8ae234",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "className": "",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "ff582e6d9ddfe2ff",
        "type": "ui_gauge",
        "z": "1fa46118f4f122b4",
        "name": "",
        "group": "f8be81c57e27c5c1",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "Centígrados",
        "format": "{{value}}",
        "min": 0,
        "max": "55",
        "colors": [
            "#fce94f",
            "#8ae234",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "className": "",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "d62dfc06d65dc8ec",
        "type": "function",
        "z": "1fa46118f4f122b4",
        "name": "",
        "func": "msg.topic = \"Temperatura\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "1262bd4771be8342"
            ]
        ]
    },
    {
        "id": "0d074b535e37b136",
        "type": "function",
        "z": "1fa46118f4f122b4",
        "name": "",
        "func": "msg.topic = \"Dureza\";\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "1262bd4771be8342"
            ]
        ]
    },
    {
        "id": "1262bd4771be8342",
        "type": "ui_chart",
        "z": "1fa46118f4f122b4",
        "name": "",
        "group": "2c49843bcc08ec1f",
        "order": 1,
        "width": 12,
        "height": "9",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ef2929",
            "#4e9a06",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cd19ad63313fa054",
        "type": "mqtt-broker",
        "name": "",
        "broker": "18.195.236.18",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f8be81c57e27c5c1",
        "type": "ui_group",
        "name": "Lectura Sensores",
        "tab": "cebb3f53d288520d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c49843bcc08ec1f",
        "type": "ui_group",
        "name": "Histórico",
        "tab": "cebb3f53d288520d",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cebb3f53d288520d",
        "type": "ui_tab",
        "name": "Monitoreo ósmosis inversa",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]